<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/login.css">
</head>
<style>
    .avatar-button {
        color: #fff;
        padding: 10px 0;
        background: #009688;
        transition: 0.3s;
        text-align: center;
        width: 50%;
    }
    .avatar-button:hover {
        background: #26a69a;
        cursor: pointer;
    }
    .avatar-img {
        width: 50%;
        text-align: center;
    }
    .avatar-box {
        margin-bottom: 10px;
        display: flex;
    }
</style>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form action="account/add" method="POST" class="register-form" id="register-form" onsubmit="return validateForm()">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <p style="margin-bottom: 15px; color: #f00;" id="valid-name"></p>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <p style="margin-bottom: 15px; color: #f00;" id="valid-email"></p>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <p style="margin-bottom: 15px; color: #f00;" id="valid-pass"></p>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <p style="margin-bottom: 15px; color: #f00;" id="valid-repass"></p>
                            <!-- <div class="avatar-box">
                                <div class="avatar-button">
                                    <i class="zmdi zmdi-upload" style="margin-right: 10px;"></i>
                                    Select avatar</div>
                                    <div class="avatar-img">
                                        <img src="img/none-user.png" alt="" style="width: 60px;">
                                    </div>
                                <input type="file" name="avatar" id="avatar" placeholder="Your Avatar" style="display: none;"/>
                            </div> -->
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="img/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        // $(".avatar-button").click(function(){
        //     $("#avatar").click();
        // });

        function validateForm() {
        var valid = true;
        if ($("#name").val().length == 0) {
            $("#valid-name").html("Bạn không được để trống tên tài khoản");
            valid = false;
        } else {
            $("#valid-name").html("");
        }

        if ($("#pass").val().length == 0) {
            $("#valid-pass").html("Bạn không được để trống mật khẩu");
            valid = false;
        } else {
            $("#valid-pass").html("");
        }

        if ($("#email").val().length == 0) {
            $("#valid-email").html("Bạn không được để trống đỉa chỉ email");
            valid = false;
        } else {
            $("#valid-email").html("");
        }

        if ($("#re_pass").val().length == 0) {
            $("#valid-repass").html("Bạn cần xác nhận lại mật khẩu");
            valid = false;
        } else {
            $("#valid-repass").html("");
        }

        if ($("#re_pass").val() != $("#pass").val()) {
            $("#valid-repass").html("Xác nhận lại mật khẩu không trùng khớp");
            valid = false;
        } else {
            $("#valid-repass").html("");
        }

        return valid;
    }
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>